*{
	box-sizing:border-box;
	
}
body{
	font-family:verdana;
}
h2{
	text-align:center;
	margin-top:25px;
	margin-bottom:25px;
}
.container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:30px;
}
.item{
	width:370px;
	height:270px;
	background:#f7ebe8;
	overflow:hidden;
	border:1px solid #e0dcdc;
}

p{
	font-family:helvetica;
	color:black;
	margin-top:30px;
	padding:15px;
	word-break:break-all;
}

.head{
	font-size:medium;
	float:right; 
	padding:5px;
	margin:0;
	width:100px;
	text-align:center;
	border-color:#e0dcdc;
	border-style:solid;
	border-width:0 0 1px 1px;
	position:relative;
}
.head1{
 	background:#753742;
	color:#fff;
}

.head2{
 	background:#111d5e;
	color:#fff;
}

.head3{
	background:#184d47;
	color:#fff;
}

@media only screen and (max-width: 991px){
	.item{
		width:47%;
		margin:10px;
	}
	.item:nth-child(3n){
		width:100%;
	}
}
@media only screen and (max-width:767px){
	.item{
		width:100%;
		margin:10px;
	}
}

@media  (min-width:991px) {
	.item{
		width:30%;
		margin:10px;
	}
}
